.account-page {
    .container {
        padding-top: 80px;
        .title {
            margin-top: 10px;
            font-size: 20px;
            font-weight: 600;
            margin-bottom: 20px;
        }
        .field {
            display: flex;
            margin-top: 10px;
            align-items: center;
            .label {
                width: 150px;
                font-size: 20px;
            }
            .btn {
                margin-left: 20px;
                height: 56px;
            }
        }
    }
}