.forgot-password-page {
    background-color: #f0f2f5;
    width: 100%;
    display: flex;
    justify-content: center;
    .forgot-password-container {
        margin-top: 200px;
        display: flex;
        .forgot-password-form {
            margin-left: 32px;
            background-color: #fff;
            border-radius: 18px;
            padding: 20px;
            box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 4px 0px;
            .title {
                font-size: 20px;
                font-weight: 600;
            }
            .hint {
                margin-top: 8px;
                margin-bottom: 8px;
                font-size: 17px;
                line-height: 20px;
            }
            .input {
                input {
                    width: 100%;
                    padding: 14px 16px;
                    border-radius: 6px;
                    border: 1px solid rgb(221, 223, 226);
                    &::placeholder {
                        font-size: 20px;
                    }
                }
            }
            .action {
                display: flex;
                .btn {
                    padding-left: 20px;
                    padding-right: 20px;
                    margin-left: 10px;
                    height: 36px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    background-color: rgb(24, 119, 242);
                    color: #fff;
                    border-radius: 6px;
                    margin-top: 15px;
                    font-size: 15px;
                    font-weight: 600;
                    cursor: pointer;
                    &:hover {
                        background-color: rgb(14, 98, 208);
                    }
                }
                .btn-cancel {
                    margin-left: auto;
                    background-color: #c2c4c9;
                    color: rgb(75, 79, 86);
                    &:hover {
                        background-color: #c2c4c9;
                    }
                }
            }

            .divider {
                height: 1px;
                border-top: 1px solid #f0f2f5;
                margin-top: 10px;
            }
        }
    }
}