.login-page {
    background-color: #f0f2f5;
    width: 100%;
    display: flex;
    justify-content: center;
    .login-container {
        margin-top: 200px;
        display: flex;
        .intro {
            width: 550px;
            .logo {
                font-size: 50px;
                color: #1877f2;
                font-weight: 700;
            }
            .text {
                font-size: 28px;
                font-weight: 400;
            }
        }
        .login-form {
            margin-left: 32px;
            background-color: #fff;
            border-radius: 18px;
            padding: 20px;
            box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 4px 0px;
            .input {
                input {
                    width: 330px;
                    padding: 14px 16px;
                    border-radius: 6px;
                    border: 1px solid rgb(221, 223, 226);
                    &::placeholder {
                        font-size: 20px;
                    }
                }
            }
            .password {
                margin-top: 16px;
            }
            .error {
                margin-top: 8px;
                color: red;
                font-size: 13px;
            }
            .btn-login {
                height: 48px;
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: rgb(24, 119, 242);
                color: #fff;
                border-radius: 6px;
                margin-top: 15px;
                font-size: 20px;
                font-weight: 600;
                cursor: pointer;
                &:hover {
                    background-color: rgb(14, 98, 208);
                }
            }
            .forget-password {
                display: flex;
                justify-content: center;
                align-items: center;
                margin-top: 15px;
                color: rgb(24, 119, 242);
                font-size: 14px;
                cursor: pointer;
            }
            .divider {
                height: 1px;
                border-top: 1px solid #f0f2f5;
                margin-top: 10px;
            }
            .create-account {
                cursor: pointer;
                height: 40px;
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: rgb(66, 183, 42);
                color: #fff;
                border-radius: 6px;
                margin-top: 15px;
                font-size: 18px;
                font-weight: 600;
                &:hover {
                    background-color: rgb(52, 182, 26);
                }
            }
        }
    }
}