.profile {
    .top-profile {
        padding-top: 56px;
        .cover-image-container {
            display: flex;
            justify-content: center;
            background-image: linear-gradient(to top, #FFFFFF, rgba(255,255,255,.9), rgba(255,255,255,.7), rgba(255,255,255,.4), rgba(255,255,255,0));
            .cover-image {
                width: 1250px;
                height: 463px;
                object-fit: cover;
            }
        }
        .info-container {
            display: flex;
            justify-content: center;
            background-color: #fff;
            .info {
                width: 1218px;
                padding-left: 16px;
                padding-right: 16px;
                position: relative;
                display: flex;
                border-bottom: solid 1px #e4e6eb;
                height: 148px;
                .avatar-container {
                    position: absolute;
                    top: -30px;
                }
                .username-container {
                    margin-left: 200px;
                    margin-top: 16px;
                    margin-bottom: 16px;
                    .username {
                        font-size: 32px;
                        font-weight: 700;
                        line-height: 38px;
                        margin-bottom: 6px;
                        margin-top: 8px;
                    }
                    .total-friend {
                        color: rgb(101, 103, 107);
                        line-height: 20px;
                        font-size: 17px;
                        font-weight: 600;
                    }
                    .group {
                        margin-top: 8px;
                        width: fit-content;
                    }
                }
            }

            .action-container {
                margin-left: auto;
                display: flex;
                align-items: center;
                .btn {
                    display: flex;
                    background-color: #e4e6eb;
                    align-items: center;
                    height: 36px;
                    padding-left: 12px;
                    padding-right: 12px;
                    border-radius: 6px;
                    cursor: pointer;
                    .btn-text {
                        margin-left: 8px;
                        font-size: 15px;
                        line-height: 20px;
                        font-weight: 600;
                    }
                }
                .btn-add-friend {
                    background-color: #1b74e4;
                    .btn-text {
                        color: #fff;
                    }
                }
                .btn-chat {
                    margin-left: 10px;
                    background-color: #1b74e4;
                    .btn-text {
                        color: #fff;
                    }
                    img {
                        -webkit-filter: invert(100%);
                    }
                }
            }
        }
        .tab-container {
            display: flex;
            justify-content: center;
            background-color: #fff;
            box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px;
            .tab {
                width: 1250px;
                padding-left: 16px;
                padding-right: 16px;
            }
        }
    }
    .profile-content {
        display: flex;
        justify-content: center;
        .main-content {
            width: 1250px;
            display: flex;
            .col-1 {
                width: 490px;
                margin-right: 10px;
                padding-bottom: 50px;
                .intro {
                    margin-top: 20px;
                    background-color: #fff;
                    padding-top: 20px;
                    padding-left: 20px;
                    border-radius: 18px;
                    padding-bottom: 20px;
                    box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 2px;
                    .title{
                        color: rgb(5, 5, 5);
                        font-size: 20px;
                        font-weight: 700;
                        line-height: 24px;
                    }
                    .row {
                        display: flex;
                        padding-top: 5px;
                        padding-bottom: 5px;
                        .name {
                            width: 200px;
                            font-size: 18px;
                            font-weight: 400;
                        }
                        .value {
                            font-weight: 500;
                            font-size: 18px;
                        }
                    }
                }
                .image-container {
                    width: 100%;
                    padding: 20px;
                    background-color: #fff;
                    margin-top: 20px;
                    box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 2px;
                    border-radius: 18px;
                    .title{
                        color: rgb(5, 5, 5);
                        font-size: 20px;
                        font-weight: 700;
                        line-height: 24px;
                    }
                    .row {
                        display: flex;
                        .image {
                            margin-top: 10px;
                            padding: 3px;
                            width: 150px;
                            height: 150px;
                            img {
                                border-radius: 3px;
                                width: 100%;
                                height: 100%;
                                object-fit: cover;
                            }
                        }
                    }
                }
                .friend-container {
                    width: 100%;
                    padding: 20px;
                    background-color: #fff;
                    margin-top: 20px;
                    box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 2px;
                    border-radius: 18px;
                    .title{
                        color: rgb(5, 5, 5);
                        font-size: 20px;
                        font-weight: 700;
                        line-height: 24px;
                    }
                    .row {
                        display: flex;
                        .image {
                            margin-top: 10px;
                            padding: 3px;
                            width: 150px;
                            height: 170px;
                            img {
                                border-radius: 3px;
                                width: 100%;
                                height: 144px;
                                object-fit: cover;
                            }
                            .username {
                                font-size: 13px;
                                font-weight: 600;
                            }
                        }
                    }
                }
            }
            .col-2 {
                .posts {
                    display: flex;
                    justify-content: center;
                    .container {
                        width: 680px;
                        .create-post {
                            margin-top: 20px;
                            background-color: #fff;
                            border-radius: 10px;
                            height: 123px;
                            padding-top: 12px;
                            padding-bottom: 10px;
                            padding-left: 16px;
                            padding-right: 16px;
                            .top {
                                display: flex;
                                .input {
                                    padding: 8px 12px;
                                    background-color: #f0f2f5;
                                    border-radius: 20px;
                                    flex-grow: 1;
                                    margin-left: 8px;
                                    cursor: pointer;
                                    color: #65676B;
                                    font-size: 1.0625rem;
                                    &:hover {
                                        background-color: #e4e6e9
                                    }
                                }
                            }
                            .bottom {
                                margin-top: 12px;
                                padding-top: 8px;
                                border-top: solid 1px #e4e6eb;
                                display: flex;
                                .button {
                                    padding: 8px;
                                    width: 50%;
                                    display: flex;
                                    color: #65676B;
                                    cursor: pointer;
                                    font-weight: 600;
                                    font-size: .9375rem;
                                    align-items: center;
                                    justify-content: center;
                                    border-radius: 5px;
                                    div {
                                        margin-left: 8px;
                                    }
                                    &:hover {
                                        background-color: #f2f2f2;
                                    }
                                }
                            }
                        }
                        .post-list {
        
                        }
                    }
                }
            }
        }
    }
}