.i-icon-like {
  background-image: url("https://static.xx.fbcdn.net/rsrc.php/v3/y2/r/w41FOqOOxdR.png");
  background-position: 0px -322px;
  background-size: auto;
  width: 18px;
  height: 18px;
  background-repeat: no-repeat;
  display: inline-block;
  opacity: 0.5;
}

.i-icon-comment {
  background-image: url("https://static.xx.fbcdn.net/rsrc.php/v3/y2/r/w41FOqOOxdR.png");
  background-position: 0px -284px;
  background-size: auto;
  width: 18px;
  height: 18px;
  background-repeat: no-repeat;
  display: inline-block;
  opacity: 0.5;
}

.i-icon-share {
  background-image: url("https://static.xx.fbcdn.net/rsrc.php/v3/y2/r/w41FOqOOxdR.png");
  background-position: 0px -341px;
  background-size: auto;
  width: 18px;
  height: 18px;
  background-repeat: no-repeat;
  display: inline-block;
  opacity: 0.5;
}
