.i-icon-like {
  background-image: url("https://static.xx.fbcdn.net/rsrc.php/v3/y2/r/w41FOqOOxdR.png");
  background-position: 0px -322px;
  background-size: auto;
  width: 18px;
  height: 18px;
  background-repeat: no-repeat;
  display: inline-block;
  opacity: 0.5;
}

.i-icon-comment {
  background-image: url("https://static.xx.fbcdn.net/rsrc.php/v3/y2/r/w41FOqOOxdR.png");
  background-position: 0px -284px;
  background-size: auto;
  width: 18px;
  height: 18px;
  background-repeat: no-repeat;
  display: inline-block;
  opacity: 0.5;
}

.i-icon-share {
  background-image: url("https://static.xx.fbcdn.net/rsrc.php/v3/y2/r/w41FOqOOxdR.png");
  background-position: 0px -341px;
  background-size: auto;
  width: 18px;
  height: 18px;
  background-repeat: no-repeat;
  display: inline-block;
  opacity: 0.5;
}

.i-icon-new-chat {
  background-image: url("https://static.xx.fbcdn.net/rsrc.php/v3/yA/r/z2YwFLl_SgF.png");
  background-position: 0px -814px;
  background-size: 26px 2010px;
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  display: inline-block;
}

.i-icon-add-image {
  -webkit-tap-highlight-color: transparent;
}

.i-icon-close-2 {
  background-image: url("https://static.xx.fbcdn.net/rsrc.php/v3/yM/r/iypj8PTjIhY.png");
  background-position: 0px -460px;
  background-size: 26px 948px;
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  display: inline-block;
}

.i-icon-friend {
  background-image: url("https://static.xx.fbcdn.net/rsrc.php/v3/yI/r/TIyIYSfmFAx.png");
  background-position: 0px -163px;
  background-size: auto;
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  display: inline-block;
}

.i-icon-invite-friend {
  background-image: url("https://static.xx.fbcdn.net/rsrc.php/v3/yF/r/Z-11doem_Kw.png");
  background-position: 0px -113px;
  background-size: auto;
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  display: inline-block;
}

.i-icon-suggest-friend {
  background-image: url("https://static.xx.fbcdn.net/rsrc.php/v3/yI/r/8fB5nVVA5-0.png");
  background-position: 0px -469px;
  background-size: auto;
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  display: inline-block;
}

.i-icon-all-friend {
  background-image: url("https://static.xx.fbcdn.net/rsrc.php/v3/yF/r/Z-11doem_Kw.png");
  background-position: 0px -71px;
  background-size: auto;
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  display: inline-block;
}

.i-icon-close-3 {
  background-image: url("https://static.xx.fbcdn.net/rsrc.php/v3/y8/r/h9aGtavpvWF.png");
  background-position: 0px -440px;
  background-size: auto;
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  display: inline-block;
}

.i-icon-prev {
  background-image: url("https://static.xx.fbcdn.net/rsrc.php/v3/y2/r/apMlA-8e5Ae.png");
  background-position: 0px -73px;
  background-size: auto;
  width: 24px;
  height: 24px;
  background-repeat: no-repeat;
  display: inline-block;
}

.i-icon-next {
  background-image: url("https://static.xx.fbcdn.net/rsrc.php/v3/y2/r/apMlA-8e5Ae.png");
  background-position: 0px -98px;
  background-size: auto;
  width: 24px;
  height: 24px;
  background-repeat: no-repeat;
  display: inline-block;
}

.i-icon-like-active {
  background-image: url('https://static.xx.fbcdn.net/rsrc.php/v3/yc/r/8lvdadmtJcA.png');
  background-position: 0 -338px;
  background-size: 26px 860px;
  width: 18px;
  height: 18px;
  background-repeat: no-repeat;
  display: inline-block;
  -webkit-filter: invert(39%) sepia(57%) saturate(200%) saturate(200%) saturate(200%) saturate(200%) saturate(200%) saturate(147.75%) hue-rotate(202deg) brightness(97%) contrast(96%);
}

.i-icon-add-friend {
  -webkit-filter: invert(100%);
}